In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
df1 = pd.read_csv("restaurant_1_week_069.csv")
df2 = pd.read_csv("restaurant_1_week_070.csv")
df3 = pd.read_csv("restaurant_1_week_071.csv")

In [7]:
data = pd.DataFrame(columns=["date","CA"])
data

Empty DataFrame
Columns: [date, CA]
Index: []

In [11]:
[df["Order Date"][0],(df["Product Price"]*df["Quantity"]).sum()]

['2016-04-30 16:56:00', 850.9000000000001]